.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container button{
  margin: 10px;
  border: 0px solid #fff;
  border-radius: 50%;
  color: #fff;
}
.btn__up{
  background-color: green;
}
.btn__down{
  background-color: red;
}
.container p {
  font-size: 20px;
  font-weight: bold;
}